body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

.chat-layout {
  display: flex;
  height: 100vh;
}

.users {
  width: 250px;
  background: #1a1a1a;
  padding: 10px;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

input {
  background: #222;
  color: white;
  border: none;
  padding: 10px;
}
