<div class="app-container">


  <div class="top-bar">
    <div class="app-title">Trippi App</div>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>


  <div class="chat-layout">


    <div class="sidebar">
      <div class="sidebar-header">Users</div>

      <div class="user"
           *ngFor="let user of users"
           (click)="selectUser(user)"
           [class.active]="selectedUser?.userName === user.userName">
        {{ user.userName }}
      </div>
    </div>


    <div class="chat">

      <div class="chat-header">
        {{ selectedUser?.userName || 'Select a user' }}
      </div>

      <div class="messages">
        <div *ngFor="let msg of messages"
             [class.me]="msg.me"
             class="message">
          {{ msg.text }}
        </div>
      </div>

      <div class="input">
        <input [(ngModel)]="newMessage" placeholder="Type a message..." />
        <button (click)="send()">Send</button>
      </div>

    </div>

  </div>

</div>
